/*
 *
 *	FONTS
 *
 */

/* FONTS -> Ubuntu */

/* FONTS -> Ubuntu -> 400 */

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(https://shironainull.github.io/material-discord-custom/css/fonts/normal.woff) format('woff');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://shironainull.github.io/material-discord-custom/css/fonts/bold.woff) format('woff');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	src: local('Ubuntu Light'), local('Ubuntu-Bold'), url(https://shironainull.github.io/material-discord-custom/css/fonts/light.woff) format('woff');
}